.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-Footer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
